<%- include('header') %>
       <div class="row">
        <div class="col">
            <form action="/submit" method="post">
                Enter Name : <input type="text" name="name">
                <br>
                <br>
                <input type="submit">
                <br>
                <br>
            </form>
        </div>
       </div>
       <div class="row my-3">
        <div class="col bg-success-subtle">
            <%= message %>
        </div>
       </div>
<%- include('footer') %>      